* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color:black;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
}
/* apply styles to header */
header {
    padding: 100px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("../images/intro.webp");
    background-size: cover;
   background-position: center;
   background-attachment: fixed;
   background-position: 80%;
    

}
header h1 {
    font-weight: bold;
    text-decoration:none;
    font-size: 50px;
    
    margin: 0;
}
header a {
    text-decoration: none;
    color: black;
      
}

header nav {
    margin: 7px 0;

}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.25vw;
    
}

/* style About me Section */

.aboutme {
 padding: 200px 200px;
 background-image: url("../images/about.webp")   
 
}
.section-title {
    font-size: 50px;
    font-style: bold;
    text-align: left;
    color: #808080;
    position: absolute;
    left: 25px;

}
.about-text {
    font-size: 18px;
    color: #808080;
    position: relative;
    right: -195px;
}


