* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color:black;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
}
/* apply styles to header */
header {
    padding: 100px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("../images/intro.webp");
    background-size: cover;
   background-position: center;
   background-attachment: fixed;
   background-position: 80%;
    

}
header h1 {
    font-weight: bold;
    text-decoration:none;
    font-size: 50px;
    
    margin: 0;
}
header a {
    text-decoration: none;
    color: black;
      
}

header nav {
    margin: 7px 0;

}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.25vw;
    
}
section {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
/* style About me Section */
.primary-border {
    border-right: solid 6px;
    border-color: #000;
}
.aboutme {
    
 background-image: url("../images/about.webp");   
 
}
.section-title {
    font-size: 50px;
    font-style: bold;
    text-align: left;
    color: #808080;
    width: 30%;
}
.about-text {
    font-size: 18px;
    color: #808080;
    flex-wrap: wrap;
    width: 70%;
}
.work {
    
    background-image: url("../images/work-background.jpg");  
    flex-wrap: wrap;
}
.project {
    border: 3px solid #000;
        background-color: #055874;
        
        color: white;
        margin: 3.5%;
        width: 30%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
        border-radius: 15px;    
               
}
.project1 {
    border: 3px solid #000;
    background-color: #055874;
    padding: 50px;
    color: white;
    margin: 3.5%;
    width: 50%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    border-radius: 15px;      
}

.contact {
    
    background-image: url("../images/contact-me.jpg");
    flex-wrap: wrap;
   
}
.contact nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    color: #000;
}
.contact nav ul li {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.25vw;
    vertical-align: bottom;
    

}
a {
    color: #000;
    text-decoration: none;
    flex-wrap: wrap;
}
.work-img {
   
    overflow-x: hidden;
}
 /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
 @media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
    
      header nav ul li a {
        font-size: 20px;
      }
    
      
      
      
     
      .section-title {
        width: 80%;
      }
      
      
      
      
      
      /* this will be applied on any screen smaller than 980px */
        
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
          /* this will be applied on any screen between 768px and 575px */
          section {
            padding: 30px 15px;
          }

        
          .work-img {
            flex: 0 32%;
            margin-right: 0;
            margin-top: 15px;
            margin-bottom: 15px;
          }
        
          .about-text {
            flex: 100%;  
          }
      }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
          /* this will be applied on any screen smaller than 575px */
          
        
          .section-title {
            width: 95%;
          }
        
          .aboutme {
            width: 100%;
          }
        
                 
            }