* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color:black;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
}
/* apply styles to header */
header {
    padding: 100px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("../images/intro.webp");
    background-size: cover;
   background-position: center;
   background-attachment: fixed;
   background-position: 80%;
    

}
header h1 {
    font-weight: bold;
    text-decoration:none;
    font-size: 50px;
    
    margin: 0;
}
header a {
    text-decoration: none;
    color: black;
      
}

header nav {
    margin: 7px 0;

}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.25vw;
    
}

/* style About me Section */
.primary-border {
    border-right: solid 6px;
    border-color: #000;
}
.aboutme {
 padding: 180px 180px;
 background-image: url("../images/about.webp")   
 
}
.section-title {
    font-size: 50px;
    font-style: bold;
    text-align: left;
    color: #808080;
    position: absolute;
    left: 25px;

}
.about-text {
    font-size: 18px;
    color: #808080;
    position: relative;
    right: -195px;
    flex-wrap: wrap;
}
.work {
    padding: 250px 250px;
    background-image: url("../images/work-background.jpg");  
     
}
.projects {
    border: 3px solid #000;
        background-color: #055874;
        padding: 10px;
        color: white;
        width: 30%;
        margin: 3.5%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
        border-radius: 15px;    
        flex-wrap: wrap;    
}

.contact {
    padding: 100px 100px;
    background-image: url("../images/contact-me.jpg");
}
.contact nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    color: #000;
}
.contact nav ul li {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.25vw;
    position: relative;
    bottom: -10px;
    left: 850px;
    vertical-align: bottom;

}
a {
    color: #000;
    text-decoration: none;

}
.work-img {
    flex: 1 12%;
    margin-right: 20px;
    width: 100%;
    height: auto;
}